<!-- Header Component -->
<header id="header" class="sticky-top">
  <!-- Navbar -->
  <nav class="primary-menu navbar navbar-expand-lg bg-dark navbar-text-light border-bottom-0">
    <div class="container-fluid position-relative h-100 flex-lg-column ps-3 px-lg-3 pt-lg-3 pb-lg-2">

      <!-- Logo -->
      <a href="/" class="mb-lg-auto mt-lg-4">
        <span class="bg-dark-2 rounded-pill p-2 mb-lg-1 d-none d-lg-inline-block">
          <img class="img-fluid rounded-pill d-block" src="/images/profile.jpg" title="Amina" alt="Amina Abah - Web Developer">
        </span>
        <h1 class="text-5 text-white text-center mb-0 d-lg-block">Amina Abah</h1>
      </a>
      <!-- Logo End -->

      <div id="header-nav" class="collapse navbar-collapse w-100 my-lg-auto">
        <ul class="navbar-nav text-lg-center my-lg-auto py-lg-3">
          <li class="nav-item"><a class="nav-link" href="/#home">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/#about">About Me</a></li>
          <li class="nav-item"><a class="nav-link" href="/#services">What I Do</a></li>
          <li class="nav-item"><a class="nav-link" href="/#resume">Resume</a></li>
          <li class="nav-item"><a class="nav-link" href="/portfolio.html">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link" href="/#testimonial">Testimonial</a></li>
          <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
        </ul>
      </div>
      
      <ul class="social-icons social-icons-muted social-icons-sm mt-lg-auto ms-auto ms-lg-0 d-flex">
        <li class="social-icons-twitter"><a data-bs-toggle="tooltip" title="Twitter" href="https://www.twitter.com/amyxcoo" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
        <li class="social-icons-linkedin"><a data-bs-toggle="tooltip" title="LinkedIn" data-bs-placement="top"
            href="https://www.linkedin.com/in/amina-idris-at-lkin/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="social-icons-github"><a data-bs-toggle="tooltip" title="GitHub" data-bs-placement="top"
            href="https://github.com/amyzi" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
      </ul>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#header-nav"><span></span><span></span><span></span></button>
    </div>
  </nav>
  <!-- Navbar End -->
</header>